html {
  scroll-behavior: smooth;
}

.creepster {
  font-family: creepster;
}

h1.creepster {
  font-family: creepster;
  font-size: 100px;
}

.carousel-image {
  height: 400px; 
}

.random-movies {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
