.site-name {
  font-size: 100px;
}

.choice-link {
  text-decoration: none;
  color: black;
}

.choice-link:hover {
  transform: scale(2);
}

.home-link {
  text-decoration: none;
  color: black;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px; 
  margin: 0 auto; 
  padding: 20px; 
}

.carousel-image {
  height: 500px;
}

.random-movies {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}